<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Angular Intro</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

</head>
<!--<body ng-controller="myController" >
	<input ng-model="myInput">
	<h1>{{ greeting }} user! The current date/time is {{ now }}</h1>

	<br>

	<button ng-click="getRandomHelloMessage()">Random Hello Message</button>
-->

<body ng-app="myApp" ng-controller="myController as ctrl">
<h1>this is html</h1>
<h2>{{ctrl.greeting}}</h2>
<input type="text" ng-model="ctrl.message" >
<h4>{{ctrl.message}} </h4>
<button ng-click="ctrl.popUp()">click me 1</button>

<div ng-repeat="name in ctrl.names">
	Name at{{$index}} : {{name.name}}

</div>


	<!-- JAVASCRIPT -->
		<script src="js/app.js"></script>
		<script src="js/myController.js"></script>
</body> 
</html>